/*
  Author:RoktimSazib
  url:http://www.codingavatar.com
  description:OC-quiz project
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Global styles
   ========================================================================== */
 *:focus{
   outline: none;
 }
 h1,h2,h3,h4,h5,h6,p{
   margin: 0px;
   padding: 0px;
 }
 ul{
   margin: 0px;
   padding: 0px;
   list-style-type: none;
 }
 .fix{
   overflow: hidden;
 }
 body{
   background-image: url('../img/background.jpg');
   background-repeat: no-repeat;
   font-family:sans-serif, "Hiragino Sans W8";
 }
 .oc-container{
   width: 1000px;
   margin: 0 auto;
 }
 .oc-row {
   padding-left: 20px;
   padding-right: 20px;
 }


/* ==========================================================================
   Roktim custom styles
   ========================================================================== */
header#header {
   margin-top: 30px;
}
.header_top{
  background-color: #f39c12;
  padding: 10px 0px;
}
.header{
  display: flex;
}
.logo {
    padding-left: 15px;
    padding-right: 40px;
}
.logo img{
  width: 123px;
  height: 75px;
}
.title {
    padding-top: 15px;
}
.title h1{
  font-size: 36px;
  color: #FFF;
}

.header_buttom{
  background-color: rgb(222, 138, 5);
}
.number_group {
    display: flex;
    padding: 10px 0px;
}
ul.number_group li{
  background: #FFF;
  margin-left: 5px;
  border-radius: 5px;
}
ul.number_group li a{
  font-size: 20px;
  text-decoration: none;
  color: #f39c12;
  display: block;
  padding: 0px 20px;
}
ul.number_group li a:hover{
  background-color: #092f57 !important;
  border-radius: 5px;
}

li.select{
  background-color: #092f57 !important;
}
li.select a{
  color: #FFF !important;
}
/*STATUS BAR */
.statusbar_area{
  background-color: #eeeeee;
}
.status{
  display: flex;
}
.user_display{
  background: #1abc9c;
}
.user_display,.timer,.logout{
  text-align: center;
  width: 33.33%;
  padding: 10px;
}
.user_display h3 {
    font-size: 20px;
    color: #FFF;
    margin-top: 10px;
}
.timer{
margin-left: 5px;
margin-right: 5px;
background-color:#2ecc71;
}
.timer h3{
   margin-top: 10px;
   color: #FFF;
}
.logout{
  background-color:#16a085;
}
.logout h3{
    margin-top: 10px;
    color: #FFF;
}
/*quiz body area*/
.quiz_area{
  background-color: #FFF;
  padding: 50px 0px;
  box-shadow: 0px 0px 12px 2px #ccc;
}
.ans {
    margin: 35px 0px;
}
.radio_group{
  width: 60%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  margin-bottom: 65px;
}
.left{
  width: 50%;
  text-align: left;
}
.right{
  width: 50%;
  text-align: left;
}
.radio_group input[type="radio"] {
    display: none;
}
.radio_group input[type="radio"]+label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    color: #3e3a39;
    cursor: pointer;
}
.radio_group input[type="radio"]+label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #b7b8b9;
}
.radio_group input[type="radio"]:checked+label:after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffa726;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}

.btn a:hover{
  background-color: #1abc9c;
  color: #000000;
  transition: 0.5s;
}
p.footer-txt{
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
}
.footer-bg{
  background-color: #092f57;
}
.btn{
  text-align: center;
}
.btn a {
    padding: 15px 90px;
    background-color: #f39c12;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}
/* ==========================================================================
   LOGIN PAGE
========================================================================== */
form.login_form {
    width: 300px;
    padding: 50px;
    padding-top: 20px;
    box-shadow: 0px 0px 12px 2px #ccc;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f7f7f7;
    min-height: 288px;
    color:#092f57;
    font-size: 18px;
    text-align: center;
}
form.login_form p{
    text-align: left;
}
form.login_form h1{
  text-align: center;
  margin-bottom: 12px;
}
.login_form input[type="text"],
.login_form input[type="password"],
.login_form input[type="email"] {
    padding: 10px 0px;
    width: 100%;
    margin: 0px 0px;
    font-size: 18px;
}
.login_btn{
  margin-top: 50px;
    padding: 15px 90px;
    background-color: #f39c12;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    border: 0;
}
.login_btn:hover{
    background-color: #1abc9c;
    color: #000000;
    transition: 0.5s;
}
.register_link {
    padding-top:30px;
    text-align: center;
}
.register_link a{
    color: #000;
    font-size: 14px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
